In [87]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE

In [88]:
DATA_PATH = "/home/matv864/it/AI_work/data/billionaires.csv"
SAVE_DATA_PATH = "/home/matv864/it/AI_work/data/billionaires_ready.csv"

In [89]:
# import kagglehub


# # Download latest version
# path = kagglehub.dataset_download(
#     "nelgiriyewithana/billionaires-statistics-dataset",
# )

# print("Path to dataset files:", path)

In [90]:
df = pd.read_csv(DATA_PATH)
df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

In [91]:
df = df.dropna(thresh=df.shape[1] - 5)
df.shape

(2398, 35)

In [92]:
column = "rank"

In [93]:
column = "finalWorth"

In [ ]:
column = "category"
# unique 18

# df = df.drop(column, axis=1)
df[column].isna().sum()/df[column].count()

np.float64(0.0)

In [95]:
column = "personName"
# don't need

df = df.drop(column, axis=1)

In [96]:
column = "age"
# loss 2%
# after soft clean 3 nan - 0%

df[column].isna().sum()/df[column].count()

# df = df.drop(column, axis=1)

np.float64(0.0)

In [97]:
column = "country"
# loss 1%
# unique 78

# 3 main and other

df = df.drop(column, axis=1)

In [98]:
column = "city"
# loss 3%
# unique 741

df = df.drop(column, axis=1)

In [99]:
column = "source"
# unique 908

df = df.drop(column, axis=1)
# df["source"].unique()

In [100]:
column = "industries"
# unique 18

df = df.drop(column, axis=1)

In [101]:
column = "countryOfCitizenship"
# unique 77

df = df.drop(column, axis=1)

In [102]:
column = "organization"
# very small amount of information 
# loss 88%

df = df.drop(column, axis=1)

In [103]:
column = "selfMade"
# ready in True/False

# yes_no_dict = {
#     True: 1,
#     False: 0
# }

# df[column] = df[column].map(yes_no_dict)

In [104]:
column = "status"
# unique 6

df = df.drop(column, axis=1)
# df["status"]

In [105]:
column = "gender"
print(df[column])


def convert_to_is_male(gender: str | None) -> bool:
    match gender:
        case "M":
            return True
        case "F":
            return False
        case _:
            print("ERRROR")
            0/0


df[column] = (
    df[column]
    .apply(convert_to_is_male)
)

df = df.rename(columns={'gender': 'is_male'})
# df = df.drop(column, axis=1)

0       M
1       M
2       M
3       M
4       M
       ..
2635    M
2636    M
2637    M
2638    M
2639    M
Name: gender, Length: 2398, dtype: object

In [106]:
column = "birthDate"

def convert_to_date(date: str | None) -> datetime:
    if type(date) is str:
        return datetime.strptime(date, r'%m/%d/%Y %H:%M').timestamp()
    return date

df[column] = (
    df[column]
    .apply(convert_to_date)
)

mean_timestamp = df[column].dropna().astype('int64').mean()
mean_date = pd.to_datetime(mean_timestamp)

df[column] = df[column].fillna(mean_date)

# df = df.drop(column, axis=1)

In [107]:
column = "lastName"



df = df.drop(column, axis=1)

In [108]:
column = "firstName"

df[column] = df[column].dropna()

df = df.drop(column, axis=1)

In [109]:
column = "title"
# loss 87%

df = df.drop(column, axis=1)

In [110]:
column = "date"
# not interesting


df = df.drop(column, axis=1)

In [111]:
column = "state"
# not interested

df = df.drop(column, axis=1)

In [112]:
column = "residenceStateRegion"
# not interested

df = df.drop(column, axis=1)

In [113]:
column = "birthYear"
# we have birthDate

# df = df.drop(column, axis=1)

In [114]:
column = "birthMonth"
# we have birthDate

# df = df.drop(column, axis=1)

In [115]:
column = "birthDay"
# we have birthDate

# df = df.drop(column, axis=1)

In [116]:
column = "cpi_country"
# loss 7%
# after soft clean 3 nan - <0.001%

print(df[column].isna().sum()/df[column].count())
df[column] = df[column].dropna()
print(df[column].isna().sum()/df[column].count())
# df = df.drop(column, axis=1)

0.00041718815185648727
0.00041718815185648727

In [117]:
column = "cpi_change_country"
# loss 7%
# after soft clean 3 nan - <0.001%

print(df[column].isna().sum()/df[column].count())
df[column] = df[column].dropna()
print(df[column].isna().sum()/df[column].count())
# df = df.drop(column, axis=1)

0.00041718815185648727
0.00041718815185648727

In [118]:
column = "gdp_country"
# loss 6%
# after soft clean 3 nan - 0%

def from_dollars_to_int(string: str) -> int:
    return int(string.replace("$", "").replace(",", ""))

print(df[column].isna().sum()/df[column].count())

df[column] = df[column].apply(from_dollars_to_int)

# df = df.drop(column, axis=1)

0.0

In [119]:
column = "gross_tertiary_education_enrollment"
# loss 7%
# after soft clean 3 nan - 0%

print(df[column].isna().sum()/df[column].count())

# df = df.drop(column, axis=1)

0.0

In [120]:
column = "gross_primary_education_enrollment_country"
# loss 7%
# after soft clean 3 nan - 0%

print(df[column].isna().sum()/df[column].count())

# df = df.drop(column, axis=1)

0.0

In [121]:
column = "life_expectancy_country"
# loss 7%
# after soft clean 3 nan - 0%

print(df[column].isna().sum()/df[column].count())

# df = df.drop(column, axis=1)

0.0

In [122]:
column = "tax_revenue_country_country"
# loss 7%
# after soft clean 3 nan - 0%

print(df[column].isna().sum()/df[column].count())

# df = df.drop(column, axis=1)

0.0

In [123]:
column = "total_tax_rate_country"
# loss 7%
# after soft clean 3 nan - 0%

print(df[column].isna().sum()/df[column].count())



# df = df.drop(column, axis=1)

0.0

In [124]:
column = "population_country"
# loss 6%
# after soft clean 3 nan - 0%

print(df[column].isna().sum()/df[column].count())


# df = df.drop(column, axis=1)

0.0

In [125]:
column = "latitude_country"
# loss 6%
# after soft clean 3 nan - 0%

print(df[column].isna().sum()/df[column].count())



# df = df.drop(column, axis=1)

0.0

In [126]:
column = "longitude_country"
# loss 6%
# after soft clean 3 nan - 0%

print(df[column].isna().sum()/df[column].count())

# df = df.drop(column, axis=1)

0.0

In [127]:
print(df.shape)
df = df.dropna()
print(df.shape)

# df = (
#     df
#     .drop("birthDate", axis=1)
#     .drop("birthYear", axis=1)
#     .drop("birthMonth", axis=1)
#     .drop("birthDay", axis=1)
# )

(2398, 21)
(2397, 21)

In [128]:
df.to_csv(SAVE_DATA_PATH.format(1))

In [129]:
# Compute the correlation matrix of the variables
diamonds_corr_matrix = df.corr()
print(diamonds_corr_matrix)

# Create the heatmap using the `heatmap` function of Seaborn
sns.heatmap(diamonds_corr_matrix, cmap='coolwarm')

# Display the heatmap using the `show` method of the `pyplot` module from matplotlib.
plt.show()

ValueError: could not convert string to float: 'Fashion & Retail'

# try to clusterization

In [ ]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)

In [ ]:
wcss = []
for k in range(1, 20):
    kmeans = KMeans(n_clusters=k, init='k-means++', random_state=777)
    kmeans.fit(scaled_data)
    wcss.append(kmeans.inertia_)

In [ ]:
plt.plot(range(1, 20), wcss, marker="o")
plt.xlabel("ÐÐ¾Ð»Ð¸ÑÐµÑÑÐ²Ð¾ ÐºÐ»Ð°ÑÑÐµÑÐ¾Ð²")
plt.ylabel("WCSS")
plt.title("ÐÐµÑÐ¾Ð´ Ð»Ð¾ÐºÑÑ")
plt.show()

In [ ]:
kmeans = KMeans(n_clusters=5, init='k-means++', random_state=777)
kmeans.fit(scaled_data)

In [ ]:
clusters = kmeans.fit_predict(scaled_data)

In [ ]:
tsne = TSNE(n_components=2, random_state=1984)
projected_data = tsne.fit_transform(scaled_data)

plt.scatter(projected_data[:, 0], projected_data[:, 1], c=clusters, cmap="viridis")
plt.xlabel("t-SNE 1")
plt.ylabel("t-SNE 2")
plt.title("ÐÐ»Ð°ÑÑÐµÑÑ (K-means++)")
plt.colorbar()
plt.show()

In [ ]:
df['Cluster'] = clusters
cluster_stats = df.groupby('Cluster').mean()
cluster_stats