In [ ]:
from pprint import pprint
from pathlib import Path
import numpy as np  # для чисел и вычислений
import pandas as pd  # для таблиц (как Excel в Python)
import matplotlib.pyplot as plt  # для графиков
import seaborn as sns  # для красивых графиков

from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor

from clearing import DatasetCleaner  # soft link

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
from sklearn.preprocessing import StandardScaler

In [4]:
MAIN_FOLDER = "/home/arman/it/AI_work/machine/melting_point"
plt.style.use('ggplot')
sns.set_palette("husl")

In [5]:
# Читаем файлы
train_data = pd.read_csv(f"{MAIN_FOLDER}/data/train.csv")  # данные для обучения
test_data = pd.read_csv(f"{MAIN_FOLDER}/data/test.csv")  # данные для теста
sample_sub = pd.read_csv(f"{MAIN_FOLDER}/data/sample_submission.csv")  # шаблон для ответа

# Посмотрим что у нас есть
print(f"Размер обучающих данных: {train_data.shape}")
print(f"Размер тестовых данных: {test_data.shape}")
print("Первые 3 строки обучающих данных:")
print(train_data.head(3))
print("Колонки в данных:")
print(train_data.columns.tolist()[:10], "...")  # первые 10 колонок

Размер обучающих данных: (2662, 427)
Размер тестовых данных: (666, 426)
Первые 3 строки обучающих данных:
     id                       SMILES      Tm  Group 1  Group 2  Group 3  \
0  2175        FC1=C(F)C(F)(F)C1(F)F  213.15        0        0        0
1  1222  c1ccc2c(c1)ccc3Nc4ccccc4c23  407.15        0        0        0
2  2994          CCN1C(C)=Nc2ccccc12  324.15        2        1        0

   Group 4  Group 5  Group 6  Group 7  ...  Group 415  Group 416  Group 417  \
0        0        0        0        0  ...          0          0          0
1        0        0        0        0  ...          0          0          0
2        0        0        0        0  ...          0          0          0

   Group 418  Group 419  Group 420  Group 421  Group 422  Group 423  Group 424
0          0          0          0          0          0          0          0
1          0          0          0          0          0          0          0
2          0          0          0          0          0          0          0

[3 rows x 427 columns]
Колонки в данных:
['id', 'SMILES', 'Tm', 'Group 1', 'Group 2', 'Group 3', 'Group 4', 'Group 5', 'Group 6', 'Group 7'] ...

In [6]:
train_cleaner = DatasetCleaner(train_data)

In [21]:
cols_to_remove = ["SMILES"]

for col in train_cleaner.current_df.columns.to_list():
    t = train_cleaner.count_missing_and_zeros(column=col)
    if t[1] == t[2]:
        cols_to_remove.append(col)
        print("DELETE", col, t)
# нулей нет

In [8]:
print(cols_to_remove)

['id', 'SMILES', 'Group 12', 'Group 28', 'Group 46', 'Group 67', 'Group 73', 'Group 74', 'Group 75', 'Group 84', 'Group 85', 'Group 88', 'Group 90', 'Group 101', 'Group 102', 'Group 104', 'Group 150', 'Group 152', 'Group 155', 'Group 158', 'Group 160', 'Group 167', 'Group 183', 'Group 194', 'Group 198', 'Group 206', 'Group 207', 'Group 208', 'Group 209', 'Group 212', 'Group 213', 'Group 214', 'Group 215', 'Group 216', 'Group 217', 'Group 218', 'Group 245', 'Group 247', 'Group 248', 'Group 250', 'Group 252', 'Group 253', 'Group 264', 'Group 280', 'Group 281', 'Group 282', 'Group 285', 'Group 294', 'Group 303', 'Group 306', 'Group 307', 'Group 308', 'Group 309', 'Group 312', 'Group 313', 'Group 316', 'Group 317', 'Group 340', 'Group 342', 'Group 345', 'Group 347', 'Group 348', 'Group 349', 'Group 350', 'Group 352', 'Group 355', 'Group 356', 'Group 357', 'Group 358', 'Group 360', 'Group 363', 'Group 371', 'Group 376', 'Group 377', 'Group 383', 'Group 384', 'Group 385', 'Group 390', 'Group 397', 'Group 399', 'Group 411', 'Group 413', 'Group 417', 'Group 419', 'Group 420', 'Group 421', 'Group 422', 'Group 423', 'Group 424']

In [9]:
train_cleaner.find_duplicates()
# дубликатов нет

Empty DataFrame
Columns: [id, SMILES, Tm, Group 1, Group 2, Group 3, Group 4, Group 5, Group 6, Group 7, Group 8, Group 9, Group 10, Group 11, Group 12, Group 13, Group 14, Group 15, Group 16, Group 17, Group 18, Group 19, Group 20, Group 21, Group 22, Group 23, Group 24, Group 25, Group 26, Group 27, Group 28, Group 29, Group 30, Group 31, Group 32, Group 33, Group 34, Group 35, Group 36, Group 37, Group 38, Group 39, Group 40, Group 41, Group 42, Group 43, Group 44, Group 45, Group 46, Group 47, Group 48, Group 49, Group 50, Group 51, Group 52, Group 53, Group 54, Group 55, Group 56, Group 57, Group 58, Group 59, Group 60, Group 61, Group 62, Group 63, Group 64, Group 65, Group 66, Group 67, Group 68, Group 69, Group 70, Group 71, Group 72, Group 73, Group 74, Group 75, Group 76, Group 77, Group 78, Group 79, Group 80, Group 81, Group 82, Group 83, Group 84, Group 85, Group 86, Group 87, Group 88, Group 89, Group 90, Group 91, Group 92, Group 93, Group 94, Group 95, Group 96, Group 97, ...]
Index: []

[0 rows x 427 columns]

In [10]:
for col in cols_to_remove:
    train_cleaner.remove_row_or_column(column=col)
train_cleaner.current_df.head()

,Tm,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,Group 8,Group 9,...,Group 406,Group 407,Group 408,Group 409,Group 410,Group 412,Group 414,Group 415,Group 416,Group 418
0,213.15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,407.15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,324.15,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,351.15,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,126.15,2,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
def df_algorithm(df):
    df_cleaner = DatasetCleaner(df)
    for col in cols_to_remove:
        df_cleaner.remove_row_or_column(column=col)
    return df_cleaner.current_df

In [12]:
print(len(cols_to_remove), cols_to_remove)
train_cleaner.save_to_csv(f"{MAIN_FOLDER}/data/prepared_train.csv")

89 ['id', 'SMILES', 'Group 12', 'Group 28', 'Group 46', 'Group 67', 'Group 73', 'Group 74', 'Group 75', 'Group 84', 'Group 85', 'Group 88', 'Group 90', 'Group 101', 'Group 102', 'Group 104', 'Group 150', 'Group 152', 'Group 155', 'Group 158', 'Group 160', 'Group 167', 'Group 183', 'Group 194', 'Group 198', 'Group 206', 'Group 207', 'Group 208', 'Group 209', 'Group 212', 'Group 213', 'Group 214', 'Group 215', 'Group 216', 'Group 217', 'Group 218', 'Group 245', 'Group 247', 'Group 248', 'Group 250', 'Group 252', 'Group 253', 'Group 264', 'Group 280', 'Group 281', 'Group 282', 'Group 285', 'Group 294', 'Group 303', 'Group 306', 'Group 307', 'Group 308', 'Group 309', 'Group 312', 'Group 313', 'Group 316', 'Group 317', 'Group 340', 'Group 342', 'Group 345', 'Group 347', 'Group 348', 'Group 349', 'Group 350', 'Group 352', 'Group 355', 'Group 356', 'Group 357', 'Group 358', 'Group 360', 'Group 363', 'Group 371', 'Group 376', 'Group 377', 'Group 383', 'Group 384', 'Group 385', 'Group 390', 'Group 397', 'Group 399', 'Group 411', 'Group 413', 'Group 417', 'Group 419', 'Group 420', 'Group 421', 'Group 422', 'Group 423', 'Group 424']

In [13]:
train_data = pd.read_csv(f"{MAIN_FOLDER}/data/prepared_train.csv")  # данные для обучения
train_cleaner = DatasetCleaner(train_data)
train_cleaner.current_df.head()

,Tm,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,Group 8,Group 9,...,Group 406,Group 407,Group 408,Group 409,Group 410,Group 412,Group 414,Group 415,Group 416,Group 418
0,213.15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,407.15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,324.15,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,351.15,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,126.15,2,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
train_train_data_x, train_test_data_x, train_train_data_y, train_test_data_y = train_cleaner.split_data(target_column="Tm")

In [15]:
print(type(train_train_data_x), type(train_train_data_y))
pprint(train_train_data_x.head())
pprint(train_train_data_y.head())

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>
      Group 1  Group 2  Group 3  Group 4  Group 5  Group 6  Group 7  Group 8  \
874         2        8        0        0        0        0        0        0
2130        2       25        0        0        0        0        0        0
1882        1        0        0        0        0        0        0        0
2066        2        4        0        1        0        0        0        0
1614        0        2        1        0        0        0        0        0

      Group 9  Group 10  ...  Group 406  Group 407  Group 408  Group 409  \
874         0         0  ...          0          0          0          0
2130        0         0  ...          0          0          0          0
1882        0         0  ...          0          0          0          0
2066        0         0  ...          0          0          0          0
1614        0         0  ...          0          0          0          0

      Group 410  Group 412  Group 414  Group 415  Group 416  Group 418
874           0          0          0          0          0          0
2130          0          0          0          0          0          0
1882          0          0          0          0          0          0
2066          0          0          0          0          0          0
1614          0          0          0          0          0          0

[5 rows x 337 columns]
874     223.15
2130    332.65
1882    302.15
2066    334.65
1614    286.65
Name: Tm, dtype: float64

In [16]:
# №5 базовые модели

print("" + "="*50)
print("ШАГ 5: Пробуем разные модели (как разные рабочие)")
print("="*50)

# Создадим несколько моделей
models = {
    'Ridge': Ridge(alpha=1.0, max_iter=10000, random_state=42),
    'Lasso': Lasso(alpha=0.01, max_iter=10000, random_state=42),
    'Random Forest': RandomForestRegressor(n_estimators=1000, random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(n_estimators=1000, random_state=42),
    'XGBoost': XGBRegressor(n_estimators=1000, random_state=42),
}

# Будем хранить результаты
results = {}

print("Начинаем обучение моделей...")
print("-" * 50)

for name, model in models.items():
    print(f"Обучаем модель: {name}")
    
    # Обучаем модель
    model.fit(train_train_data_x, train_train_data_y)
    
    # Делаем предсказания
    train_test_data_y_pred = model.predict(train_test_data_x)
    
    # Оцениваем качество
    mae = mean_absolute_error(train_test_data_y, train_test_data_y_pred)
    r2 = r2_score(train_test_data_y, train_test_data_y_pred)
    
    print(f"  Ошибка на обучении (MAE): {mae:.2f} K")
    print(f"  R² на проверке: {r2:.3f}")

==================================================
ШАГ 5: Пробуем разные модели (как разные рабочие)
==================================================
Начинаем обучение моделей...
--------------------------------------------------
Обучаем модель: Ridge

  Ошибка на обучении (MAE): 37.14 K
  R² на проверке: 0.601
Обучаем модель: Lasso
  Ошибка на обучении (MAE): 36.28 K
  R² на проверке: 0.611
Обучаем модель: Random Forest
  Ошибка на обучении (MAE): 36.60 K
  R² на проверке: 0.585
Обучаем модель: Gradient Boosting
  Ошибка на обучении (MAE): 35.75 K
  R² на проверке: 0.633
Обучаем модель: XGBoost
  Ошибка на обучении (MAE): 33.49 K
  R² на проверке: 0.609

In [17]:
test_data = pd.read_csv(f"{MAIN_FOLDER}/data/test.csv")  # данные для теста
test_ids = list(test_data["id"])
print(test_ids)
test_data = df_algorithm(test_data)
test_data.head()

[1022, 1146, 79, 2279, 1342, 2082, 29, 515, 2309, 1177, 553, 179, 1441, 1457, 1085, 2344, 848, 176, 3282, 2743, 2308, 2648, 71, 498, 366, 193, 18, 9, 684, 558, 2831, 2443, 2795, 714, 2626, 613, 2380, 2459, 1619, 2176, 1599, 2992, 1715, 2689, 873, 1039, 3213, 3066, 2702, 1339, 2332, 1758, 2198, 1324, 1386, 1322, 846, 1145, 992, 416, 243, 1197, 2519, 1269, 2632, 1070, 2410, 3037, 2868, 3130, 283, 1891, 2553, 1700, 1719, 2880, 2731, 752, 434, 126, 3252, 2132, 51, 780, 3269, 804, 2028, 555, 3183, 770, 501, 623, 499, 1896, 224, 1620, 2952, 2092, 1602, 290, 1687, 1153, 957, 2468, 3314, 1224, 2517, 921, 964, 1740, 2361, 1660, 2522, 519, 2156, 2159, 3050, 453, 2595, 2704, 436, 130, 81, 1027, 2797, 2669, 2223, 2031, 397, 3010, 2767, 396, 1693, 1432, 1422, 3132, 1247, 1965, 703, 678, 1221, 1638, 3311, 1329, 610, 3198, 2805, 2586, 2635, 1868, 2301, 1994, 1472, 1944, 3107, 1856, 2185, 3312, 1686, 1087, 304, 159, 1782, 582, 423, 101, 3321, 2638, 455, 1910, 1402, 2364, 3047, 2516, 215, 1471, 2806, 2739, 1665, 2564, 2918, 1310, 2286, 2916, 1278, 3212, 467, 2060, 1983, 2373, 537, 1748, 2417, 2659, 1640, 826, 333, 2606, 2055, 2167, 2504, 1661, 1764, 3012, 3144, 2604, 1249, 286, 2949, 48, 1716, 1684, 2550, 1171, 2079, 2368, 46, 2274, 1284, 3218, 294, 1105, 2529, 1915, 3299, 1488, 517, 2486, 477, 1486, 1169, 1098, 2960, 1156, 1762, 2303, 3310, 2290, 2849, 2312, 442, 109, 3053, 1605, 2268, 1341, 1814, 1648, 744, 2578, 2029, 69, 3302, 2050, 1172, 1840, 948, 231, 1451, 2587, 2412, 1430, 1503, 1144, 3058, 942, 353, 3251, 2740, 2402, 520, 655, 622, 3141, 192, 2971, 3182, 1272, 2866, 3085, 3175, 401, 2445, 2444, 2741, 1778, 1267, 217, 251, 1625, 681, 1313, 2283, 3208, 1438, 762, 2793, 3087, 855, 2125, 210, 2505, 2857, 664, 178, 114, 220, 1294, 784, 1614, 3174, 2085, 3064, 1672, 1130, 1334, 420, 1679, 1685, 2765, 898, 3265, 311, 2764, 842, 2654, 405, 2841, 2024, 1946, 2228, 1273, 2180, 2262, 3124, 1142, 410, 772, 2311, 1567, 914, 2355, 2827, 471, 3021, 2930, 1583, 893, 2538, 710, 3242, 2211, 249, 2946, 1412, 1058, 264, 1671, 2650, 1813, 19, 1446, 496, 1745, 1002, 2683, 2, 1590, 3126, 2619, 1934, 3152, 1439, 299, 1609, 2969, 2599, 1046, 3134, 2865, 530, 2394, 2605, 2323, 1026, 1742, 2593, 2493, 1552, 2616, 1713, 3296, 1652, 3044, 595, 592, 2746, 2826, 1826, 1073, 1967, 1089, 2711, 1071, 368, 666, 984, 382, 1228, 1925, 3060, 3234, 593, 1418, 693, 794, 1484, 552, 1694, 132, 1986, 85, 2503, 2769, 2907, 2347, 2482, 1164, 773, 3045, 1612, 749, 35, 2724, 2973, 406, 482, 133, 2964, 2990, 1076, 2821, 2675, 2527, 2257, 2510, 2457, 148, 3259, 120, 1723, 1021, 579, 3256, 2762, 1218, 1434, 1880, 2116, 1711, 1921, 2245, 2991, 3062, 1914, 1400, 1863, 721, 1775, 720, 3272, 687, 323, 1569, 511, 739, 2041, 1362, 2265, 2033, 798, 1404, 1305, 3143, 480, 1954, 2583, 2387, 1186, 1468, 1883, 1360, 1283, 2369, 1867, 2091, 740, 355, 1392, 3155, 2900, 860, 2945, 2351, 1440, 1209, 3185, 787, 1827, 30, 2933, 78, 3003, 1520, 3162, 2246, 966, 531, 134, 3179, 928, 1173, 1691, 2802, 1079, 68, 1111, 2342, 187, 2099, 1530, 1739, 107, 2046, 3203, 349, 805, 2832, 233, 2897, 1417, 343, 3239, 3215, 1298, 3005, 3167, 2078, 2131, 620, 1987, 3194, 1785, 1904, 1072, 885, 2603, 470, 986, 2783, 1290, 175, 2871, 1539, 1088, 2297, 2735, 1119, 124, 918, 2248, 1936, 836, 891, 2923, 1547, 1707, 2435, 171, 2123, 3313, 332, 2144, 2814, 481, 2026, 2851, 1906, 2752, 3255, 2539, 1932, 1244, 2139, 3181, 2288, 2111, 2678, 1558, 2590, 238, 512, 2722, 84, 2039, 3138, 2532, 1512, 2734, 1804, 4, 131, 2709, 1606, 2723, 3189, 1770, 1240, 2570, 2988, 626, 2786, 320, 608, 3197, 419, 2768, 3201, 724, 1822, 586, 2876, 88, 2053, 407, 1976, 725, 877, 2335, 983, 2035, 2120, 3006, 158, 488, 850, 3263, 2388, 1802, 934, 380, 100, 1474, 669, 2843, 76, 1346, 3327, 1777, 2940, 2506, 2663, 624, 2655, 2089, 1065]

,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,Group 8,Group 9,Group 10,...,Group 406,Group 407,Group 408,Group 409,Group 410,Group 412,Group 414,Group 415,Group 416,Group 418
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,7,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
def make_result(model):
    result = pd.DataFrame({"id": [], "Tm": []})

    for i in range(0, len(test_data)):
        current_id = test_ids[i]
        # Slice the DataFrame
        test_slice = test_data.iloc[i:i+1]
        y = model.predict(test_slice)[0]
        adding_pd = pd.DataFrame({"id": [current_id], "Tm": [y]})
        result = pd.concat([result, adding_pd])

    pprint(result.head())
    result['id'] = result['id'].astype(int)
    DatasetCleaner(result).save_to_csv(f"{MAIN_FOLDER}/data/submission.csv")

In [19]:
make_result(models["Gradient Boosting"])

       id          Tm
0  1022.0  343.272942
0  1146.0  300.060197
0    79.0  206.973832
0  2279.0  206.450729
0  1342.0  235.710930